.navbar {
    background-color: rgba(58, 58, 58, 0.23);
    backdrop-filter: blur(100px);
    height: 3rem;
    width: 100dvw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 3;
}

.desktopMenuListItem {
    padding: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.desktopMenuListItem:hover {
    font-weight: 350;
    color: white;
}

.active {
    font-weight: 350;
    color: white;
}